@*@model IEnumerable<CoreCRUDwithORACLE.ViewModels.Reportes.InformacionGeneral>*@
@model CoreCRUDwithORACLE.Comunes.PaginatedListAsync<CoreCRUDwithORACLE.ViewModels.Reportes.GeneralAsistencia>


@{
    ViewData["Title"] = "GeneralProvincia";
}

<h1>Información en Detalle de Asistencia de la Provincia de @ViewBag.Provincia</h1>


<div id="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <table>
                        <tr>
                            <th> <a asp-controller="Reportes" asp-action="GeneralAsistencia" class="btn btn-block btn-info"> Regresar </a></th>
                            <th> <a asp-controller="Home" asp-action="Index" class="btn btn-block btn-secondary">  Ir al Inicio </a></th>
                            <th> <a asp-controller="Account" asp-action="Logout" class="btn btn-block btn-danger">Salir</a></th>
                        </tr>
                    </table>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @if (Model != null)
                    {
                        <div class="card">
                            <div class="card-header">
                                <div asp-validation-summary="All" class="text-danger"></div>

                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <table id="GralProv" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    CÓDIGO PROVINCIA
                                                </th>
                                                <th>
                                                    <a asp-action="GeneralAsistenciaPorProvincia" asp-route-sortOrder="@ViewData["ProvSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">PROVINCIA</a>
                                                </th>
                                                <th>
                                                    CANTÓN
                                                </th>
                                                <th>
                                                    PARROQUIA
                                                </th>
                                                <th>
                                                    ZONA
                                                </th>
                                                <th>
                                                    JUNTA
                                                </th>
                                                <th>
                                                    OPERADOR
                                                </th>
                                                <th>
                                                    ESTADO
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.COD_PROVINCIA)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.NOM_PROVINCIA)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.NOM_CANTON)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.NOM_PARROQUIA)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.NOM_ZONA)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.JUNTA)@Html.DisplayFor(modelItem => item.SEXO)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.OPERADOR)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ESTADO)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @{
                                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                                    }
                                    <!--
                                    <a asp-action="GeneralProvincia"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="btn btn-default @prevDisabled">
                                        Anterior
                                    </a>
                                    <a asp-action="GeneralProvincia"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="btn btn-default @nextDisabled">
                                        Siguiente
                                    </a>
                                    -->
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>



<!-- jQuery -->
<script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="~/FrontEnd/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<!-- AdminLTE App -->
<script src="~/FrontEnd/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/FrontEnd/dist/js/demo.js"></script>
<!-- page script -->

<script>
    $(function () {
        $("#GralProv").DataTable({
            "responsive": true,
            "autoWidth": false,
        });

    });
</script>

<script>
    $(document).ready(function () {
        $.noConflict();
        var table = $('#GralProv').DataTable();
    });</script>

