@*@model IEnumerable<CoreCRUDwithORACLE.ViewModels.Reportes.ATransmitidasProvincia>*@
@model CoreCRUDwithORACLE.Comunes.PaginatedListAsync<CoreCRUDwithORACLE.ViewModels.Reportes.ATransmitidasProvincia>

@{
    ViewData["Title"] = "TransmitidasProvincia";
}

<h1>Actas Transmitidas por Provincia</h1>

<div id="wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <table>
                        <tr>

                            <th> <a asp-controller="Home" asp-action="Index" class="btn btn-block btn-secondary">  Ir al Inicio </a></th>
                            <th> <a asp-controller="Account" asp-action="Logout" class="btn btn-block btn-danger">Salir</a></th>
                        </tr>
                    </table>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @if (Model != null)
                    {
                        <div class="card">
                            <div class="card-header">
                                <!--
                                <form asp-action="TransmitidasProvincia" method="get">
                                    <div class="form-actions no-color">
                                        <p>
                                            Ingrese Texto: <input type="text" name="textoBuscar" value="@ViewData["CurrentFilter"]" />
                                            <input type="submit" value="Buscar" class="btn btn-default btn-light" /> |
                                            <a asp-action="TransmitidasProvincia">Listado Completo</a>
                                        </p>
                                    </div>
                                </form>
                                -->
                                <div asp-validation-summary="All" class="text-danger"></div>

                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <table id="TransProv" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @*@Html.DisplayNameFor(model => model.CODIGO)*@
                                                    CODIGO PROVINCIA
                                                </th>
                                                <th>
                                                    <a asp-action="TransmitidasProvincia" asp-route-sortOrder="@ViewData["ProvSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">PROVINCIA</a>
                                                    @*@Html.DisplayNameFor(model => model.PROVINCIA)*@
                                                </th>
                                                <th>
                                                    JUNTAS
                                                    @*@Html.DisplayNameFor(model => model.JUNTAS)*@
                                                </th>
                                                <th>
                                                    TRANSMITIDAS
                                                    @*@Html.DisplayNameFor(model => model.TRANSMITIDAS)*@
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        @{
                                            var juntas = 0;
                                            var transmitidas = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CODIGO)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PROVINCIA)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.JUNTAS)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TRANSMITIDAS)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Cantón", "TransmitidasCanton", new { codProvincia = item.SEGUROCOD }, new { @class = "btn btn-block btn-info" })
                                                    </td>
                                                </tr>
                                                juntas = juntas + item.JUNTAS;
                                                transmitidas = transmitidas + item.TRANSMITIDAS;
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>
                                                    TOTAL
                                                </th>
                                                <th></th>
                                                <th>@juntas</th>
                                                <th>@transmitidas</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    @{
                                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                                    }
                                    <!--
                                    <a asp-action="TransmitidasProvincia"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="btn btn-default @prevDisabled">
                                        Anterior
                                    </a>
                                    <a asp-action="TransmitidasProvincia"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="btn btn-default @nextDisabled">
                                        Siguiente
                                    </a>
                                    -->
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>



<!-- jQuery -->
<script src="~/FrontEnd/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/FrontEnd/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="~/FrontEnd/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/FrontEnd/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<!-- AdminLTE App -->
<script src="~/FrontEnd/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/FrontEnd/dist/js/demo.js"></script>
<!-- page script -->



<script>
    $(function () {
        $("#TransProv").DataTable({
            "responsive": true,
            "autoWidth": false,
        });

    });
</script>

<script>
    $(document).ready(function () {
        $.noConflict();
        var table = $('#TransProv').DataTable();
    });</script>

